# Integração Asaas
ASAAS_API_KEY='$aact_prod_000MzkwODA2MWY2OGM3MWRlMDU2NWM3MzJlNzZmNGZhZGY6OjVlNmQ0MzBjLTFlNjQtNDE2ZC05ZDA0LTYwNmVkOWZiNWNiMDo6JGFhY2hfOTY0ZmQ3MzQtZjQyZi00MDk2LWI3ZDEtM2Q1ZjE2NTRkY2Zi'  # Substitua pela sua chave de API
ASAAS_API_URL='https://api.asaas.com/v3'
# Configurações do Servidor
PORT=5000
NODE_ENV=development

# Configurações do Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=gerencie_db
DB_USER=vision_user
DB_PASSWORD=123456

# Configurações de Autenticação
JWT_SECRET=sua_chave_secreta_aqui
JWT_EXPIRE=7d

# Configurações da OpenAI
OPENAI_API_KEY=sua_chave_openai_aqui
OPENAI_MODEL=gpt-4

# CORS
CORS_ORIGIN=http://localhost:3000
